.itemCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% auto;
}
.itemCart img {
  max-width: 70px; /* Объединил с width, так как они имеют одно и то же значение */
  height: auto;
  border-radius: 4px; /* Объединил с border-radius */
}
.itemCart h3 {
  font-size: 1.5rem;
  flex: 1;
  margin-left: 1%; /* Объединил с margin-left */
}
.itemCart .price {
  font-size: 1.4rem;
}
.itemCart .description {
  font-size: 1.6rem;
}
.itemDetails {
  flex: 1;
}
.itemCart .index {
  font-size: 2rem;
}
main h1 {
  font-size: 2.5rem;
  color: gold;
}
main .text {
  font-size: 1.5rem;
  margin-top: 1%;
}
main {
  width: auto;
  margin: 2% 3%;
  text-align: center;
  min-height: 80vh;
}
.CartList {
  width: auto;
  max-width: 600px;
  margin: auto;
}
