/* cart.css file for the cart.html */

.itemCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% auto;
}

.itemCart img {
  max-width: 70px;
  height: auto;
  border-radius: 4px;
}

.itemCart h3 {
  font-size: 1.9rem;
  flex: 1;
  margin-right: 25px;
}

.itemCart .price {
  font-size: 1.8rem;
}

.itemCart .description {
  font-size: 1.9rem;
}

.itemDetails {
  flex: 1;
}

.itemCart .index {
  font-size: 2rem;
}

main h1 {
  font-size: 2.8rem;
  color: #F2BE1A;
}

main .text {
  font-size: 2.1rem;
  margin-top: 1%;
}

main {
  margin: 2% 3%;
  text-align: center;
  min-height: 90vh;
  width: auto;
  align-items: center;
}

.CartList {
  margin: auto;
  text-align: left;
  margin-bottom: 50px;
  max-width: 800px;
}

.CartList h1 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.cartInfo {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 3% auto;
  max-width: 800px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding-left: 8px;
  padding-bottom: 15px;
}

.ItemWord {
  flex: 0;
}

.ProductWord {
  flex: 1;
  margin-left: calc(32% - 10vh);
}

.CartList button {
  font-size: 1.8rem;
  margin-top: 30px;
  padding: 5px;
  border-radius: 5%;
}

.itemCart button {
  font-size: 1.5rem;
  padding: 0 3px;
  margin-left: 30px;
}

.loginList {
  max-width: 650px;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
}

.inputBar {
  margin: 25px 0 25px 0;
  font-size: 1.3rem;
  border-radius: 15%;
  background-color: #cfd5db;
  color: rgb(0, 0, 0);
  padding: 20px;
  width: 50%;
}

.buttonSubmit {
  font-size: 1.5rem;
  border-radius: 100%;
  background-color: #6aaeee;
  color: white;
  padding: 25px;
}

.inputText {
  font-size: 1.7rem;
  margin-top: 3%;
}