.itemDetails {
	width: 45%;
	text-align: center;
	margin: auto
}

.itemDetails h2 {
	color: #f2be1a;
	font-weight: 700;
	font-size: 3rem;
	text-align: left;
	margin-left: 10px
}

main {
	width: auto;
	margin: 2% 3%;
	min-height: 70vh
}

.itemDetails .price {
	font-weight: 800;
	font-size: 1.2rem;
	padding: 10px;
	text-align: left
}

.commentSection .commentForm {
	background-color: #7777c5;
	align-items: center;
	display: flex;
	border-radius: 10%;
	margin: 20px 0
}

.commentSection {
	max-width: 700px;
	width: auto
}

.commentSection h1 {
	font-size: 2.5rem;
	margin-bottom: 10px;
	color: #34516c;
	font-weight: 700
}

.commentSection label {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 650;
	font-style: italic
}

.commentContainer,
.titleContainer {
	padding: 50px;
	margin: auto
}

.comment,
.title {
	padding: 40px;
	margin: 20px 10px;
	border-radius: 10%
}

.title {
	padding: 20px
}

.submitComment {
	border: 1px solid rgba(14, 7, 7, .53);
	background-color: rgba(38, 176, 52, .3);
	color: #fff;
	padding: 5px 10px;
	font-size: 2rem
}

.submitComment:hover {
	background-color: #4caf50;
	box-shadow: 0 0 10px #4caf50
}

.itemDetails .description {
	padding: 10px;
	font-size: 1.5rem;
	text-align: left
}

.itemDetails img {
	width: 100%;
	height: auto
}

#productDetails {
	border: solid #c7cbda 1px;
	margin: 35px auto;
	flex: 0 0 calc(33.33% - 30px);
	background-color: rgba(199, 203, 218, .1);
	min-width: 250px
}

.itemDetails .button {
	margin-bottom: 15px;
	padding: 4px 8px;
	font-size: 1.3rem;
	font-weight: 700
}