main {
	padding: 20px 0;
	display: flex;
	align-items: center;
	margin: 1% 2%;
	flex-direction: column;
	width: auto;
	min-height: 80vh
}

.frontPage h1,
.frontPage h2 {
	color: #34516c;
	font-weight: 650
}

.frontPage h1 {
	font-size: 4.2rem;
	margin-bottom: 10px
}

.frontPage h2 {
	font-size: 3rem;
	margin: 30px 0 10px
}

.framePart h1,
main .videoPart h1 {
	font-size: 2.6rem;
	color: #f2be1a;
	padding: 20px 0 10px
}

main .videoPart video {
	width: 100%;
	max-width: 780px
}

main .framePart iframe {
	width: 100%;
	min-height: 330px
}

.frontPage p {
	font-size: 1.7rem
}

.indexOffers {
	font-size: 2rem;
	border-style: solid;
	border-width: medium;
	border-color: #f2be1a
}

@media only screen and (max-width:1192px) {
	.frontPage h1 {
		font-size: 5rem
	}

	.frontPage p {
		font-size: 1.8rem
	}

	.framePart h1,
	main .videoPart h1 {
		font-size: 3.2rem
	}

	main .videoPart video {
		max-width: 820px
	}
}

@media only screen and (max-width:768px) {
	.frontPage h1 {
		font-size: 3.3rem
	}

	.frontPage p {
		font-size: 1.5rem
	}

	.framePart h1,
	main .videoPart h1 {
		font-size: 2.2rem
	}
}