/* products.css file, used for products.html */

.item img {
	width: 100%;
  height: auto;
	max-height: 330px;
}
.item h2 {
	color: yellow;
	font-weight: 700;
	font-size: 3rem;
	text-align: left;
	margin-left: 10px;
}
.container {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}
.item .price {
	font-weight: 900;
	font-size: 1.2rem;
	padding: 10px;
	text-align: left;
}
.item .description, .read-more {
	padding: 10px;
	font-size: 1.5rem;
	text-align: left;
}
.item {
	border: solid rgb(206, 187, 187) 1px;
	margin: 20px auto;
	flex: 0 0 calc(33.33% - 30px);
	background-color: rgb(254, 248, 248);
	min-width: 250px;
}
.item .button {
	margin-bottom: 15px;
	padding: 4px 8px;
	font-size: 1.3rem;
	font-weight: 700;
}
.productsList{
margin: 3%;
text-align: left;
}
main .productsList a{
	color: blue;
	margin-right: 35px;
	font-size: 1.9rem;
}
.productsList .productsWord{
	font-size: 1.9rem;
	margin-right: 15px;
}
main{
	width: auto;
	margin: 2% 3%;
	text-align: left;
}
.productsPage{
	max-width: 825px;
	margin: auto;
}
main .scrollButton{
	position: fixed;
	font-size: 1.3rem;
	border-radius: 50%;
	top: 55%;
	background-color: purple;
	color: white;
	padding: 25px;
}
