
.item img {
	width: 100%;
  height: auto;
	max-height: 330px;
}
.item h2 {
	color: yellow;
	font-weight: 700;
	font-size: 3rem;
	text-align: left;
	margin-left: 10px;
}
.container {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	margin: auto;
}
.item .price {
	font-weight: 900;
	font-size: 1.2rem;
	padding: 10px;
	text-align: left;
}
.item .description {
	padding: 10px;
	font-size: 1.5rem;
	text-align: left;
}
.item {
	box-sizing: border-box; /* ?? */
	border: solid rgb(206, 187, 187) 1px;
	margin: 20px auto;
	flex: 0 0 calc(33.33% - 30px);
	background-color: rgb(254, 248, 248);
	min-width: 250px;
	
}
.item .button {
	margin-bottom: 15px;
	padding: 4px 8px;
	font-size: 1.3rem;
	font-weight: 700;
}

