main {
  padding: 20px 0;
  display: flex;
  align-items: center;
  margin: 1% 2%;
  flex-direction: column;
  width: auto;
  min-height: 80vh
}

.signUpPage p:not([class]) {
  font-size: 2.5rem;
  margin: 20px 0
}

.passwordText {
  font-size: 2rem
}

.signUpPage {
  max-width: 900px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2%
}

.passwordCriterias
 {
  border-style: dotted;
  border-radius: 10px;
  border-width: 2px;
  padding: 30px;
  background-color: #82e5e4
}

.SuccessIcon{
  font-size: 2rem;
  border-style: dotted;
    border-radius: 10px;
    border-width: 2px;
    padding: 30px;
    background-color: #82e5e4
}

.criterias p {
  font-size: 1.6rem;
  margin: 5px 0
}



.textInfo {
  margin: 20px 0;
  font-size: 2rem;
  width: 75%
}

.signUpPage h1,
.signUpPage h2 {
  color: #34516c;
  font-weight: 650;
  font-size: 4.2rem;
  margin-bottom: 10px
}

.signUpPage h2 {
  color: #42346c;
  font-size: 2.2rem
}

#address {
  padding: 80px
}

.inputBar {
  margin: 25px 0;
  font-size: 1.3rem;
  border-radius: 15%;
  background-color: #cfd5db;
  color: #000;
  padding: 20px;
  width: 50%
}

.buttonSubmit {
  font-size: 2.5rem;
  font-style: italic;
  border-radius: 100%;
  background-color: #688eb2;
  color: #f7f2f2;
  padding: 25px;
  cursor: pointer
}

.passwordCriterias h2 {
  font-size: 3rem
}