.item img {
	width: auto;
  height: auto;
  max-height: 200px;
}
.item h2 {
	color: yellow;
	font-weight: 700;
	font-size: 22px;
}
.container {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}
.item .price {
	font-weight: 900;
	padding: 10px;
}
.item .description {
	padding: 10px;
}
.item {
	box-sizing: border-box;
	width: 30%;
	border: solid black 1px;
	margin: 10px auto;
}
.item .button {
	margin-bottom: 15px;
}
